name: Debug with tmate

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Start tmate
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
          
